@font-face {
  font-family: "Mona Sans";
  src:
    url("./fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("./fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border font-mona-sans;
  }

  html {
    min-height: 100svh;
    height: 100%;
  }

  body {
    @apply bg-neutral-800 text-white h-full;
  }

  #root {
    @apply h-full;
  }
}

@layer utilities {
  .safari-blur {
    -webkit-backdrop-filter: blur(20px);
    /* Safari-specific */
    backdrop-filter: blur(20px);
  }
}