@font-face {
  font-family: "Mona Sans";
  src:
    url("./fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("./fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border font-mona-sans;
  }

  html {
    min-height: 100svh;
  }

  body {
    @apply bg-white blurred-bg text-primary;
    background-image: url('/src/assets/main.png');
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

@layer utilities {
  .blurred-bg {
    backdrop-filter: blur(40px);

    -webkit-backdrop-filter: blur(40px);
    -moz-backdrop-filter: blur(40px);

    @supports (-webkit-backdrop-filter: blur(40px)) {
      -webkit-backdrop-filter: blur(40px);
    }
  }

  .safari-blur {
    -webkit-backdrop-filter: blur(20px);
    /* Safari-specific */
    backdrop-filter: blur(20px);
  }

}